@import "./common/responsiveDesignHelpers";

@-webkit-keyframes pop-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9);
  }
  80% {
    opacity: 1;
    -webkit-transform: scale(1.05);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes pop-in {
  0% {
    opacity: 0;
    -moz-transform: scale(0.9);
  }
  80% {
    opacity: 1;
    -moz-transform: scale(1.05);
  }
  100% {
    opacity: 1;
    -moz-transform: scale(1);
  }
}
@keyframes pop-in {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  80% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.wrapper {
  background-color: #232323;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2752%27 height=%2752%27 viewBox=%270 0 52 52%27%3E%3Cpath fill=%27%23000000%27 fill-opacity=%270.26%27 d=%27M0 17.83V0h17.83a3 3 0 0 1-5.66 2H5.9A5 5 0 0 1 2 5.9v6.27a3 3 0 0 1-2 5.66zm0 18.34a3 3 0 0 1 2 5.66v6.27A5 5 0 0 1 5.9 52h6.27a3 3 0 0 1 5.66 0H0V36.17zM36.17 52a3 3 0 0 1 5.66 0h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 0 1 0-5.66V52H36.17zM0 31.93v-9.78a5 5 0 0 1 3.8.72l4.43-4.43a3 3 0 1 1 1.42 1.41L5.2 24.28a5 5 0 0 1 0 5.52l4.44 4.43a3 3 0 1 1-1.42 1.42L3.8 31.2a5 5 0 0 1-3.8.72zm52-14.1a3 3 0 0 1 0-5.66V5.9A5 5 0 0 1 48.1 2h-6.27a3 3 0 0 1-5.66-2H52v17.83zm0 14.1a4.97 4.97 0 0 1-1.72-.72l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1 0-5.52l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43c.53-.35 1.12-.6 1.72-.72v9.78zM22.15 0h9.78a5 5 0 0 1-.72 3.8l4.44 4.43a3 3 0 1 1-1.42 1.42L29.8 5.2a5 5 0 0 1-5.52 0l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1-.72-3.8zm0 52c.13-.6.37-1.19.72-1.72l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43a5 5 0 0 1 5.52 0l4.43-4.43a3 3 0 1 1 1.42 1.41l-4.44 4.43c.36.53.6 1.12.72 1.72h-9.78zm9.75-24a5 5 0 0 1-3.9 3.9v6.27a3 3 0 1 1-2 0V31.9a5 5 0 0 1-3.9-3.9h-6.27a3 3 0 1 1 0-2h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 1 1 2 0v6.27a5 5 0 0 1 3.9 3.9h6.27a3 3 0 1 1 0 2H31.9z%27%3E%3C/path%3E%3C/svg%3E");
  box-shadow: 0px 5px 20px 6px #000000;
  min-height: 250px;
  border-radius: 10px;
  color: white;
  padding: 20px;
  min-width: 500px;
  -webkit-animation: pop-in 0.3s;
  -moz-animation: pop-in 0.3s;
  -ms-animation: pop-in 0.3s;
}

.title {
  font-size: x-large;
  font-weight: bold;
  font-style: italic;
  display: flex;
  border-bottom: 1px solid white;
  width: 200px;
}

.subTitle {
  font-size: large;
  font-style: italic;
  display: flex;
  border-bottom: 1px solid gray;
  width: 200px;
  color: gray;
}

.mainEarningsDisplay {
  display: flex;
  flex-direction: row-reverse;
  font-size: xx-large;
  margin: 20px;
}

.subEarningsDisplay {
  display: flex;
  flex-direction: row-reverse;
  font-size: large;
  margin: 20px;
  color: gray;
}

.spacer {
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.settings {
  display: flex;
}

.workStatus {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-right: 20px;
  font-weight: 600;
}

.roundedBox {
  display: flex;
  align-items: center;
  padding: 0.4rem 0.8rem 0.4rem 0.6rem;
  color: #9a8670;
  background: #2e2a1d;
  border-radius: 4px;
}

@include responsive(mobile) {
  .wrapper {
    min-width: 220px;
  }
}
